.signup {

  .view--title, h1.view--title-mobile {
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: bold;
    color: #495057;
    font-weight: bold;
  }

  .view--title { display: none; }
  .view--title-mobile { display: block; }

  .signup--form {
    width: 15rem;
    max-width: 100%;
    padding: 1rem 0;
    margin: 0 auto;

    &.display-errors input:invalid { border: 1px solid red; }

    .form-error {
      width: 100%;
      padding: 1rem;
      margin: 0 auto 1rem;
      text-align: center;
      background-color: #694242;
      color: red;
      border-radius: 4px;
    }

    .form-group {
      display: block;
      width: 100%;
      margin-bottom: 1.4rem;
      position: relative;

      .form-error-input, .form-error-input:focus {
        outline: 1px solid red;
        border: 1px solid red !important;
      }

      .form-error-text {
        position: relative;
        height: 2.8rem;
        width: 100%;
        top:  0.1rem;
        left: 0%;
        padding: 0.5rem 0.5rem 0.5rem 0.25rem;
        font-size: 0.8rem;
        color: red;
        background-color: #4f3a3a;
        text-align: center;
        border-radius: 0;
      }

      label, input {
        display: block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
      }

      label {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-align: left;
        color: #333;
        display: none;
      }

      input {
        height: 3rem;
        padding: 0.8rem;
        color: #333;
        border: 1px solid #eee;
        border-radius: 2px;
        background-color: #fff;
      }
    }

    button[type="submit"] {
      width: 100%;
      padding: 1rem 0;
      /*background-color: #333;*/
      background-color: #ea482e;
      font-size: 1rem;
      letter-spacing: 1px;
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 0;
      box-shadow:0 2px 4px rgba(0, 0, 0, 0.45);
      cursor: pointer;

      &:hover {
        background-color: rgb(212, 64, 40);
      }
    }
  }
}

@media only screen and ( min-width: 30rem ) {
  .signup {
    .view--title { display: block; font-size: 2rem; }
    .view--title-mobile { display: none; }
  }
}

@media only screen and ( min-width: 50rem ) {
  .signup {
    h1.view--title {
      font-size: 2rem;
    }
  }
}

@media only screen and ( min-width: 53rem ) {
  .signup {
    .signup--form {
      .form-group {
        .form-error-text {
          position: absolute;
          left: 102%;
          border-radius: 0 5rem 5rem 0;     
        }
      }
    }
  }
}