@keyframes fadeOut {
  0: {
    opacity: 1;
  },

  100%: {
    opacity: 0
  };
}

.menu {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  min-width: 20rem;
  opacity: 0;
  overflow-y: auto;

  .menu--overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 6rem;
    padding-bottom: 4rem;
    /*flex-wrap: wrap;*/
    overflow: auto;
    overflow-x: hidden;
    align-items: flex-start !important; /* TODO remove important. change flex-center-all or add custom flex styles */
    
    .menu--overlay-header {
      position: fixed;
      top: 0;
      height: 4rem;
      width: 100%;
      background-color: #829e79;
      border-bottom: 1px solid rgba(0, 0, 0, 0.10);
      color: white !important;
      box-shadow: 0 0.1rem 1rem #00000026;
      z-index: 0;
      transition: all 0.1s linear !important;
 
      h1 {
        margin: 0;
        a {
          color: #000;
          border: none;
          font-size: 1.2rem;
        }
      }
    }

    a {
      display: block;
      color: #111;
      padding-left: 3vw;
      border: 1px solid rgba(0, 0, 0, 0.14);
      border-bottom: none;
      text-shadow: none;

      &:nth-child(0) {
        margin-top: 4rem !important;
        border-bottom: none;
      }

      &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.14);
      }
    }

    .close-menu {
      position: relative;
      width: 2rem;
      height: 3rem;
      margin-right: 2rem;

      span {
        display: block;
        position: absolute;
        top: 1.5rem;
        height: 2px;
        width: 100%;
        background: #14262c;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.1s ease-in-out;
      }

      span:nth-child(1) {
        top: 0.5rem;
        width: 0%;
        left: 50%;
      }

      span:nth-child(2) {
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        top: 0.5rem;
        width: 0%;
        left: 50%;
      }
        
    }
  }


  &.open {
    opacity: 1;
    z-index: 9000 !important;
    animation: fadeOut 0.1s; 
    background-color: #b5d8a9;

    .menu--overlay-header {z-index: 8000;}
  }

  &.fade-out {
    animation: fadeOut 0.1s;
  }

  &.close {
    opacity: 0;
    height: 0;
    min-height: 0;
    border-top: none;
  }

  a, .sign-out-link {
    color: rgba(255, 255, 255, 0.58);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 1rem; 
    width: calc(100% - 5rem);

    &:hover {
      color: #444;
    }
  }

  a:nth-child(0) {
    margin-top: 1rem;
  }

  .sign-out-link {
    color: var(--sLight);
    color: #333;
    cursor: pointer;
    margin-left: 11vw;
    color: rgba(255, 255, 255, 0.58);
  }
}

@media only screen and (min-width: 50rem) {
  .menu {
    a, .sign-out-link {
      font-size: 3rem;
    }

    a {
      width: 95%;
      margin: 0 0 0 2.5%;
    }
  }
}
