.confirm-account {

  h1 {
    max-width: 48rem;
    margin-bottom: 5%;
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .form-group {
    width: 20rem;
    margin: auto;
    display: block;
    overflow: hidden;
    position: relative;

    .email-button-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      input[type="email"] {
        width: 70%;
        padding: 0.6rem;
        margin-right: 2px;
        border: none;
        border-radius: 2px;
      }

      button[type="submit"] {
        width: 30%;
        padding: 0.6rem;
        background-color: teal;
        border: none;
        color: #fff;
        cursor: pointer;
      }
    }

    .form-error-text { 
      padding: 1rem;
      color: red;
    }

    a.success-link {
      display: block;
      width: 100%;
      text-decoration: underline;
      text-align: center;
      color: #dcbcc2;
    }
  }
}
