@keyframes animateTitle {
  0: {
    opacity: 0
  }

  100%: {
    opacity: 1;
  }
}

#totals {
  h1 {
    animation: animateTitle 1s;
  }

  .vitamins-container {
  	padding: 1rem 2rem; 
  }
}
