.signin {

  h1.view--title {
    font-variant: small-caps;
    color: #343a40;
    font-weight: bold;
  }

  .signin--form {
    width: 15rem;
    padding: 1rem 0;
    margin: 0 auto;

    &.display-errors input:invalid { border: 1px solid red; }

    .form-error {
      width: 100%;
      padding: 1rem;
      margin: 0 auto 1rem;
      text-align: center;
      background-color: #ffe7e7;
      color: red;
      border-radius: 4px;
      padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    }

    .form-group {
      display: block;
      margin-bottom: 1.4rem;

      .form-error-input, .form-error-input:focus {
        outline: 1px solid red;
        border: 1px solid red !important;
      }

      .form-error-text {
        position: relative;
        top: 0;
        right: 0;
        padding: 0.8rem 0;
        font-size: 0.8rem;
        color: red;
        background-color: #4f3a3a;
        text-align: center;
      }

      label, input {
        display: block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
      }

      label {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-align: left;
        color: #333;
      }

      input {
        padding: 0.6rem;
        border: 1px solid #eee;
        border-radius: 2px;
      }

      label[for="stay-signed-in"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        padding: 0 7%;

        input[type="checkbox"] {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }

    button[type="submit"] {
      width: 100%;
      padding: 1rem;
      /*background-color: #333;*/
      background-color: #ea482e;
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      border: none;
      box-shadow:0 2px 4px rgba(0, 0, 0, 0.45);
      transition: background-color 0.4s, color .3s, border 0.4s;

      &:hover {
        background-color: rgb(212, 64, 40);
        color: #fff;
      }
    }
  }
}