.vitamin-details-modal {
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	width: 90%;
	height: 90vh;
	margin: auto;
	background-color: rgba(0,0,0,0.5);
	color: white;
	z-index: 77777777;
	display: none;
}