.add {
  background-color: #fff;

  .view--header {
    margin-bottom: 0 !important;

    .view--title {
      font-size: 1rem;
      font-weight: 100;
      text-align: center;

      a {
        color: #4d7aa9;
        text-decoration: underline;
      }
    }

    .buttons {
      margin: 0;

      button {
        width: 7rem;
        padding: 0.5rem 1rem;
        margin: auto 0.5rem;
        font-size: 0.8rem;
        color: #fff;
        border: none;
        border-radius: 0;

        &.make-a-meal {}
        &.save {
          background-color: blue;
        }
        &.clear { background-color: red; }
      }
    }
  }

  .view--main {
    width: 100%;
    padding: 0 !important;

    button {
      padding: 1rem;
      margin: 1rem;
      border: none;
      color: #fff;
      background-color: #333;
      cursor: pointer;
    }

    .selected-button {
      background-color: teal !important;
    }

    h1.view-title {
      color: rgba(255, 255, 255, 0.7);
    }

    h2 {
      font-size: 1.5rem;
      color: #333;
    }

    .steppers {
      width: 100%;
      max-width: 50rem;
      padding: 0 0 1rem 0;
      margin: 4rem auto 0;    
      background: #f7f8fb;

      .stepper--stages {
        margin-bottom: 2rem;
        background-color: rgb(247, 248, 251);
        border: 1px solid #e7ebf3;

        .stages-container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: relative;
          width: 100%;
          padding: 1rem;
          margin: 0 auto;

          .stage {
            width: 45%;
            height: 3rem;
            position: relative;
            z-index: 20;
            padding: 0.75rem 0.75rem;
            margin: 0 2.5%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -ms-flex-align: center;
            align-items: center;
            font-weight: bold;
            text-align: center;
            color: #fff;
            background: #333;
            box-shadow: 0 0.2rem 0.3rem rgb(66, 78, 82);
            cursor: pointer;
            z-index: 20;
            border: 1px solid rgba(0, 0, 0, 0.14);
            transition: all 0s linear;

            .line {
              display: none;
              position: absolute;
              top: 50%;
              right: -25%;
              height: 0;
              width: 25%;
              border-bottom: 2px solid #ddd;
              z-index: 1000000;

              &.line-highlighted {
                border-color: #677a81;
              }
            }

            .lnr {
              font-size: 0.9rem;
              color: rgba(255,255,255,0.8);
            }

            &:hover {
              background-color: #526167;
            }

            &.stage--active {
              background: #444;

              &:hover {
                background-color: #323;
              }
            }

            &.stage--valid {
            }
          }
        }
      }

      .steppers--content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 18rem;
        padding: 0 1rem 1rem 1rem;

        &.steppers--content--large {
          height: 22rem !important;
        }

        .stepper {
          width: 100%;

          .stepper--title {
            width: 100%;
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
          }
          .stepper--content {
            display: flex;
          }

          &.stepper--name {
            .stepper--content {
              .ant-input-affix-wrapper {
                width: 90%; 
                max-width: 25rem;
                margin: 0 auto;

                input[type="text"] {
                  width: 100%;
                  padding: 1rem;
                  margin: 0 auto;
                }
              }
            }
          }
          
          &.stepper--type {
            .stepper--content {
              display: flex;
              justify-content: center;
              align-items: center;

              .ant-radio-group {
                margin: 0 auto;

                label {
                  padding: 0 3rem;

                  .ant-radio-button-checked {

                  }

                  &.ant-radio-button-wrapper-checked:first-child {
                    border-color: #333 !important;
                    color: #333; 
                  }

                  &.ant-radio-button-wrapper-checked:last-child {
                    border-color: #333 !important;
                    color: #333;
                  }
                }
              }
            }
          }
          
          &.stepper--measurements {
            .stepper--content {
              #measurements-select {
                width: 90%;
                margin: 0 auto;
              }
            }
          }
          
          &.stepper--vitamins {
            .stepper--content {
              flex-direction: column;
              height: 20rem;
              overflow-y: auto;
              border: 1px solid #ddd;

              .vitamin {
                width: 98%;
                padding: 0.5rem;
                margin: 0.5rem auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                background-color: #eee;

                input {
                  width: 100%;
                  margin: 0.25rem auto;
                  box-sizing: border-box;
                  margin: 0;
                  padding: 0;
                  font-variant: tabular-nums;
                  list-style: none;
                  font-feature-settings: 'tnum';
                  position: relative;
                  display: inline-block;
                  width: 100%;
                  height: 32px;
                  padding: 0.25rem 0.78rem;
                  color: rgba(0, 0, 0, 0.65);
                  font-size: 14px;
                  line-height: 1.5;
                  background-color: #fff;
                  background-image: none;
                  border: 1px solid #d9d9d9;
                  border-radius: 4px;
                  transition: all 0.3s;
                }
              }
            }
          }

        }
      }

      .stepper--controls {
        width: 10rem;
        height: 3rem;
        margin: 4rem auto 9px;

        button {
          padding: 0 1.5rem;
          margin: 0 0.2rem;

          &.disabled {
            opacity: 0.1;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 35rem) {
  .add {
    form {
      .form-group {
        padding: 2rem;
      }
      .type-and-name-container {
        align-items: stretch !important;
        flex-direction: row !important;
      }
    }
  }
}

@media only screen and (min-width: 35rem) and (max-width: 41rem) {
  .add {
    form {
      .form-group {
        margin: 3rem 2% !important;
      }
    }
  }
}

@media only screen and (min-width: 40rem) {
  .add {
    .measurements-group {
      flex-direction: row;
      flex-wrap: wrap;

      button {
        width: auto;
        margin: auto 1%;
      }
    }

    form {
      .form--vitamins {
        .form-group {
          width: 33.33%;

          .vitamin {
            width: 30%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 50rem) {
  .add {
    form {
      .type-and-name-container {
      }

      .food-or-drink-group,
      .name-group {
      }

      .measurements-group {
        flex-direction: row;
        flex-wrap: wrap;

        .measurements {
          flex-direction: row;
        }

        button {
          width: 45%;
        }
      }
    }
  }
}
