@keyframes animatePercentage {
  0: {
    width: 0;
  },
  100%: {
    width: 100%;
  }
}

.vitamin-container {
  display: block;
  width: 100%;
  margin: 0.2rem 0;

  .vitamin {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333;
    display: flex;
    background-color: #6c6c6c;
    color: #fff;
    padding: 0rem 5%;
    margin: 0.0rem auto;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: visible;

    &:hover {
      opacity: 0.9;
      transform: scale(1.0);

      & .modal {
        display: block;
        transform: scale(1);
      }
    }

    .percentage {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: rgb(40, 170, 164);
      opacity: 1;
      z-index: 100;
    }

    .vitamin--name-and-data {
      width: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      z-index: 200;
      white-space: nowrap;
      align-items: center;
      color: rgba(255,255,255,0.7);
    }

    .vitamin--name {
      width: 0; /* so the .data is centered */
      font-size: 1rem;
    }

    .vitamin--data {
      margin: 0 0 0 auto;
      white-space: nowrap;
      font-size: 0.9rem;
      color: rgba(255,255,255,0.7);
    }

    .icon {
      width: 2rem;
      height: 2rem;
      margin-left: 2%;
      border: 1px solid #333;
      border-radius: 100000px;
      padding: 3px;
      text-align: center;
      color: black;
      background: rgba(255,255,255,0.2);
    }

    .modal {
      display: none;
      width: 10rem;
      height: 10rem;
      position: absolute;
      z-index: 9999;
      right: -11rem;
      top: 0;
      margin: auto 0 auto auto;
      background-color: rgba(0,0,0,0.8);
      box-shadow: 0 0 4px #999;
    }
  }
}

@media only screen and (min-width: 40rem) {
  .vitamin-container {
    .vitamin {

      .data {
        font-size: 0.8rem;
      }
    }
  }
}


@media only screen and (min-width: 50rem) {
  .vitamin-container {
    .vitamin {
      .name {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem
      }
    }
  }
}