.home {
  padding: 0 auto 0 !important;
  background-color: transparent;
  background-color: #f7f8fb;
  padding-bottom: 0 !important;
  /* background-image: url('./olive_dark_green.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  justify-content: flex-start;

  section {
    height:auto;
    min-height: auto;
    width: 100%;
    display: flex;
    padding: 15vh 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.welcome {
      padding-top: 0;
      align-items: center;

      h1 {
        margin: 0;
        font-size: 10vw;
        font-weight: bold;
        text-align: left;
        letter-spacing: 0vw; 
        line-height: 14vw;

        span {
          font-size: 6vw;
          letter-spacing: 0.7vw;
          color: #3a3e39;
        }
      }
        
      h2 {
        margin: 5rem 0 2.5rem;
      }

      .welcome--buttons {
        width: 100%;
        display: flex;
        margin-top: 11vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
          width: 47%;
          max-width: 13rem;
          margin: 1.5%;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    &.add-vitamins, &.mobile-version {

      h1, h1 { color: #111; }
    }

    &.add-vitamins {
      background-color: #b47b43;
      background-color: #f9f9f9;

      h1, h2, h3 {
        max-width: 54rem;
        text-transform: uppercase;
        margin: 3rem auto;
        font-size: 3rem;
        text-align: center;
        line-height: 4rem;
      }
    }

    &.calculate-your-total {
      color: #000;
      background-color: #30463e;
    }
    &.mobile-version {
      padding-bottom: 15rem;
      background-color: #fff;
      height: auto;
      min-height: auto;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      padding: 25vh 5%;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;

      h1 {
        margin: 0 auto;
        font-size: 1.5rem;
      }
    }
  }

  h1 {
    margin: 0 auto 5%;
    text-transform: uppercase;
    color: #3c5543;
  }

  button {
    position: relative;
    width: 12rem;
    padding: 1.2rem 0;
    margin: 1% auto;
    border: 1px solid #ea482e;
    font-size: 1rem;
    font-weight: 500;
    color: #ea482e;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
    cursor: pointer;

    &:hover {
      background-color: #ff2e2e;
    }
  }
}


@media only screen and (min-width: 40rem) {
  .home {
    h1 {

    }

    section {

      &.welcome {
        align-items: flex-start;

        h1 {
          margin-left: 0;
          font-size: 2vw;
          font-weight: bold;
          letter-spacing: 0vw; 
          line-height: 4vw;

          span {
            font-size: 6vw;
            letter-spacing: 0.7vw;
            color: #3a3e39;
          }
        }

        .welcome--buttons { 
          flex-direction: row;

          button {
          }
        }
      }

      &.add-vitamins {
        padding-right: 10%;
        padding-left: 10%;
      }
    }
  }
}


@media only screen and (min-width: 50rem) {
  .home {
    h1 {
      
    }

    section {

      &.welcome {

        h1 {
   /*       margin-bottom: 1rem;
          font-size: 7vw;*/
        }

        .welcome--buttons { 
          flex-direction: row;

          button {
            width: 47%;
          }
        }
      }
    }
  }
}
