.header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
  z-index: 1000;
  background-color: #3c4e55;
  background-color: #ffffff;
  background-color: #3e3e3e;

  .header--border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c4e55+0,597792+100 */
    background: #677a81 ; /* Old browsers */
    background: -moz-linear-gradient(left, #677a81  0%, #14262c   100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #677a81  0%,#14262c   100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #677a81  0%,#14262c   100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#677a81', endColorstr='#14262c',GradientType=0 ); /* IE6-9 */
  }
  

  .menu-toggler-fixed {
    position: fixed !important;
    top: 1.5rem;
    right: 2rem;
  }

  .header--site-name {
    margin: auto 0 auto 2rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;

    a {
      color: #fff;
    }
  }

  .header--menu  {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    * {
      padding: 0;
      margin:0 1.5rem;
      font-size: 1rem;
      height: 100%;
      cursor: pointer;
      color: #000;
    }


    .header--user-name {
      position: relative;
      right: -1rem;
      top: 0.09rem;
      color: #a0a0a0 !important;

      i.fa {
        margin: 0 1rem 0 0.5rem !important;
        color: #383838 !important;
      }

      #header--menu--dropdown {
        position: absolute;
        top: 1.5rem;
        right: -0.4rem;
        z-index: 100;
        width: 8rem;
        height: auto;
        padding: 0.5rem 0.5rem 1rem;
        background-color: #fff;
        border: 1px solid #8a8a8a;
        -webkit-box-shadow: 0 0.2rem 0.4rem #000;
        box-shadow: 0 0.1rem 0.2rem rgba(115, 115, 115, 0.38823529411764707);

        .menu-item {
          cursor: pointer;
          margin: 0.4rem 0;
          font-weight: 100;
          color: #555;

          &:hover {
            color: #000;
          }
        }

        .arrow {
          position: absolute;
          top: -5px;
          width: 10px;
          height: 10px;
          right: -1.2rem;
          z-index: 100;
          background-color: #fff;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          border-radius: 1px;
          border: none !important;
          border-top: 1px solid #8a8a8a !important;
          border-left: 1px solid #8a8a8a !important; 
        }
      }
    }
  }

  .header--menu-toggler {
    display: flex;
    height: auto;
    width: auto;
    margin-right: 2rem;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8000;

    .menu-name {
      display: none !important;
      float: left;
      color: var(--sLight);
      color: #fff;
      color: #14262c;
      padding: 0;
      font-size: 1.4rem;
      margin: 0 0.3rem 0 0;
    }   

    .toggler { 
      float: right;
      width: 28px;
      height: 1.1rem;
      position: relative;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #333;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
          top: 7px !important;
        }

        &:nth-child(4) {
          top: 14px;
        }
      }

      &.open {
        span:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }

        span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }

      i.fa-bars, i.fa-close {
        color: #000;
        font-size: 2rem;
      }
    } 
  } 


}

.header-border {
  display: block;
  width: 100%;
  height: 0.28rem;
  background: linear-gradient(45deg, #aa00ad 1%,#ea482e 100%);
  background: linear-gradient(45deg, #344348 1%,#799ead 100%);
}

@media only screen and (min-width: 30rem) {
  .header {
        .header--menu--toggler {
          span {
            background: #14262c !important;
          }
        }
  }
}

@media only screen and ( min-width: 35rem ) {
  .header {
    background-color: #ffffff;
    .header--site-name {
      letter-spacing: 0.3rem;

      a {
        color: #677a81;
      }
    }
  }
}

@media only screen and (min-width: 45rem) {
  .header {

    .menu-toggler-fixed {
      position: fixed !important;
      top: 1rem;
      right: 2rem;
    }
  }
}

@media only screen and (min-width: 50rem) {
  .header {
    .header--menu-toggler {
      width: auto;
      padding: 0.25rem;

      .menu-name {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 55rem) {
  .header {
    height: 4.5rem;

    .header--site-name {
      display: block;
      font-size: 1.5rem;
    }
  }
}
