@import '~antd/dist/antd.css';

.App {
  height: 100%;
  background-color: linear-gradient(45deg, #aa00ad 1%,#ea482e 100%);
  
  .view, .view-with-padding {
    position: relative;
    z-index: 100;
  }
  
  .view {
    min-height: auto;
    padding-bottom: 5rem;
    margin: 0 auto auto;
    color: #333;
    background:  #fff;

    .view--header {
      .view--title {
        color: #343a40;
        font-weight: 300;
        font-size: 1.5rem;
        width: 100%;
        margin: 0 2rem;
        text-align: center;
      }
    }

    &:not('.home') {
      padding-top: 6vh !important;
    }
  }

  .view-with-padding {
    min-height: auto;
    padding-top: 25vh;
    padding-bottom: 5rem;
    margin: 0 auto auto;
    color: #333;
 
    .view--title {
      color: #343a40;
    }

    h6.link-to-opposite-form {
      display: block;
      margin: 2vh auto 0;

      a {
        font-size: 0.8rem;
        color: #000;
      }
    }

    &:not('.home') {
      padding-top: 6vh !important;
    }
  }
  
  .view--header {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    margin: 0 0 3rem 0;
    width: 100%;
    height: 5rem;
    background: #f7f8fb;
    border-bottom: 1px solid #e7ebf3;

    .view--title {
      width: 100%;
      text-align: center;
      font-weight: 100;
      font-size: 1.5rem;
      margin: 0 2rem;
    }
  }

  .view--main {
    width: 100%;
    min-height: 20rem;
    padding: 2rem;
  }

  h6.link-to-opposite-form {
      display: block;
      margin: 4vh auto 0;
      width: 100%;
      text-align: center;

      a {
        font-size: 0.8rem;
        color: #000;

        > span {
          color: #216bde;
        }
      }
    }


  .block {
    display: block !important;
  } 



  footer {
    min-height: 26rem;
    padding: 8vh 5%;
    background-color: #2f3e44;
  }  
}

@media only screen and (min-width: 35rem) {
  .App {
    .view {
      .view--header {
        .view--title {
          width: auto;
          text-align: left;
          font-weight: 300;
          font-size: 1.5rem;
          margin: 0 2rem !important;
        }
      }
    }
  }
}