#loading{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background: linear-gradient(45deg, #aa00ad 1%,#ea482e 100%);*/
  background: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000000000;

  h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    color: #3f5054;
  }

  h2 {
    color: rgba(63, 80, 84, 0.83);
    max-width: 50%;
    line-height: 3rem;
  }

  img { width: 4rem; }
}
