.dashboard {
	color: black;
	margin: 2rem;
	background-color: #eeeeee;

	.dashboard--menu {
		width: 100%;
		padding: 5%;
		color: black;
	    background: #f7f8fb;
	    border-bottom: 1px solid #e7ebf3;

		/* TODO delete the container? */
		.dashboard--menu--route { 
			margin: 1rem 0;

			a {
				width: 21rem;
				height: auto;
				padding: 0.5rem 1rem;
				font-size: 1.5rem;
				font-weight: bold;
				color: #333;
				border-radius: 0.1rem;
			    height: auto;
			    max-height: 14rem;
			    text-align: left;
			    border-bottom: 0.1rem solid rgba(0,0,0,0.05);
			    transition: all 0s linear !important;

			    > .fas { 
			    	opacity: 0; 
			    	transition: all 0.05s linear !important;
			    }

			    &:hover {
			    	color: #a65bb3; 

			    	> .fas {
			    		opacity: 1;
			    	}
			    }
			}
		}
	}
}

@media only screen and ( min-width: 40rem ) {
	.dashboard {
		.dashboard--menu {

			.dashboard--menu--route {
				a {
				}
			}
		}
	}
}