footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 3rem 15%;
	color: #fff;

	.info, .routes {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;	
		text-align: left;
		width: 30%;
		min-height: 15rem;
		min-width: 5rem;
		/*background-color: rgba(0, 0, 0, 0.28); */
	}

	.routes {
		a {
			text-align: left;
		}
		
		justify-content: flex-start;
	}

	.info {
		justify-content: center;

		ul {
			li {
				padding: 0.4rem 0;
			}
		}
	}

	.routes {

		a {
			padding: 0.4rem 0;

			&:hover {
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}
}