.detail {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	z-index: 	99999999999;

	.detail--header {
		position: 	relative;
		padding: 1rem 5%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 8rem;

		h1 {
			text-transform: uppercase;
    	font-size: 8vw;

    	span.selected-measurement {
    		font-size: 1rem;
    		margin-left: 5%;
    		color: rgba(0,0,0,0.25);
    	}
		}

		.close-container {
		    width: 4rem;
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: center;
			
			.close, .fa-times {
				color: black;
				cursor: pointer;
			}
		}
	}

	.detail-controls {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 10%;
		margin-top: 	4rem;
		width: 100%;
		height: 1rem;
		position: relative;
		background: rgba(255,255,255,0.8);
		color: black;


		.previous, .next {
			cursor: pointer;

			.fa {
				font-size: 2rem;
				cursor: pointer;
			}
			
		}

		.previous {
			 
		}

		.next {

		}
	}

	.consumable-wrapper {
		width: 100%;
		color: #000;
		display: block;

		.no-item-selected {
			display: block;
			width: 100%;
			text-align: center;
			font-size: 2rem;
		}

	    .name {
			display: block;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			margin: 0 auto 2rem;
	    }

	    .vitamins {
	    	display: flex;
		    flex-direction: row;
		    justify-content: space-around;
		    align-items: center;
		    flex-wrap: wrap;

	    	.vitamin {
					width: 100%;
			    margin: 1rem auto;
			    font-size: 1rem;
			    padding: 0.5rem 3%;

	    		span {
	    			margin-right: 5%;
	    			font-weight: bold;
	    		}
	    	}

	    }
    }



}