.make-a-meal {
  background-color: #fff !important;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;


	.view--header {
		margin-bottom: 3vh !important;
		display: block;
		width: 100%;
		height: 5rem;
		background: #f9f9f9;
		margin: 0 !important;
 
		.view--title {
			margin-right: 2rem !important; 
			font-size: 3.5rem;
			font-weight: bold;
		}

		.date-time {
		    position: relative;
		    width: 22rem;
		    font-size: 0.9rem;
		    margin: 0.4rem 0 0 0 !important;
 
			.time { 
				font-size: 0.9rem;
				color: #333;
			}
		}

		.buttons {
			width: auto;

			button {
				width: 9rem;
				padding: 0.25rem 0.75rem;
				margin: 0 1%;
				color: #333;
				font-weight: 500;
				text-transform: uppercase;
				border: none;
				box-shadow: none !important;
				background: transparent;
				cursor: pointer;
				outline: none;

				a { color: #333; }

				&:first-child {
					border-right: 1px solid rgba(0,0,0,0.25);
				}
			}
		}


		
		.show-menu-button {
			
		}

		.save-menu-button {

		}  
	}

	.view--main {
		display: block !important;
		position: relative;
		height: 100%;
		padding-top: 2rem;

		#meals-reset-message {
			margin: 0 auto;
			width: 100%;
			width: 90%;
			font-size: 1rem;
			background: red;
			color: white;
			padding: 1rem;

			.lnr {
				cursor: pointer;
			}
		}

		.food-drinks, .meals { 
		    position: relative;
		    width: 90%;
		    padding: 1rem 1rem 2rem 1rem;
		    margin: 1.5rem auto;
		    background-color: #f7f8fb;
		    border: 1px solid #e7ebf3;
		    border-left: 0.2rem solid #333;
		    border-radius: 0.25rem;
		    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.56);
		    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.56);
		}


		.section-title {
			margin-bottom: 1rem;
			font-size: 0.9rem;
			font-weight: 500;
			color: #000;
			text-transform: uppercase;
		}


		.food-drinks {
			width: 100%;
			flex: 1;
			width: 90%;
			margin: 1rem auto;
			padding: 1rem;

			.food-drinks--add-link {
				width: 20rem;
			    text-align: right;
			    font-size: 0.8rem;
			    margin-top: -0.8rem;

			    a {
			    	color: black;
			    }
			}

			.food-drink {
				flex: 10;
			    transition: all 0.1s linear;
			    color:rgba(255,255,255,0.8);

			    > div { 
			    	width: 100%; 

					#food-drinks--select {
						width: 20rem;
						max-width: 20rem;
						padding: 0.5rem;
						margin: 0 auto 1rem 0;
						font-size: 0.9rem;
						color: #000;
					    border: none;
					    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);

					    &.no-margin-right { margin-right: 1rem !important; }
					}

					.add-first-food-item {
						a {
							color: #ff3535;
							text-decoration: underline;
						}
					}

				    button.add {
				    	width: 7rem;
				    	height: 40px;
					    padding: 0.5rem 0.75rem;
					    margin: 0px;
					    color: white;
					    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 2px;
					    box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 2px;
					    cursor: pointer;
					    background: rgb(25, 220, 149);
					    border-width: initial;
					    border-style: none;
					    border-color: initial;
					    -webkit-border-image: initial;
					    -o-border-image: initial;
					    border-image: initial;
					    transition: box-shadow 0.05s linear;

					  	&.disabled-cursor {
					  		cursor: not-allowed !important;
					  	}
			    		&:hover {
			    			color: rgba(255,255,255,0.95);
			    			background-color: rgb(24, 236, 159);
			    		}
				    }
			    }




			    .food, .drink { 
			    	width: 100%;

			    	> form { width: 100%; }
			    }

			    .food-drink--form {
			    	padding-bottom: 2rem;
			    	background: #fbfbfb;
    				border: 1px solid #efefef;

					.serving-size,
				    .quantity {
				    	flex: 1;
				    	padding: 1rem;

				    	span {
				    		color: rgb(153, 164, 168);
							font-weight: 500;
							font-size: 1rem;
				    	}

				    	label {
				    		display: flex;
				    		flex-direction: column;
				    		font-size: 0.8rem; 
				    		line-height: 3rem;
				    		color: #333; 
				    		position: relative;

				    		input {

				    		}
				    	}

						select {
							padding: 0 1rem;
						    height: 3.5rem;
						    width: auto; 
						    font-size: 0.8rem;
						    border: none;
						}

						select, input {
						    background: rgba(255,255,255,0.8);
						    outline: none;
						    padding: 0.5rem;
						    height: auto; 
						    height: 2.2rem;
						    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
						}
				    }

				    .food-drink-error {
			    		position: absolute;
						bottom: -2.5rem;
			    		color: red;
			    	}

				    .of-a {
				    	font-size: 2rem;
				    	width: auto;
				    	color: #333;
				    }

				    .name {
				    	display: block;
				    	width: auto;
				    	padding: 0 5%;
				    	text-align: left;
						font-size: 1rem;
						text-transform: uppercase;
						padding: 0.5rem 0 0.25rem 0.5rem;
						color: #333;
						font-weight: bold;

					.fa-leaf, i.fa-tint {
						margin-right: 1rem;
							color: #333;
							font-size: 1rem;
						}
				    }


					

			    	.nutrients-link {
					    color: rgb(46, 164, 99);
					    font-size: 1rem;
					    font-weight: 500;
					    text-decoration: underline;
					    cursor: pointer;
				    }

				    .quantity {
				    	width: auto;
				    
				    	input[type="number"] {
				    		border: 1px solid #eee;
				    	}


				    	span {

				    	}
				    }

				    .details-link {
				    	font-size: 1rem;
				    	width: 30%;
				    	text-align: center;
				    }

				    .buttons {
				    	margin-top: 2rem;
					    position: relative;
		
					    .fa-info {
					    	position: absolute;
					    	top: 0.5rem;
					    	right: 0.5rem;
					    	opacity: 0;
					    	font-size: 0.5rem;
					    }

					    button {
					    	border: none;
						    padding: 0.5rem;
						    margin: 0 0.5rem;
						    background: rgba(25, 220, 149, 0.58);
						    color: white;
					    }
				    }

			    }			    
			}

			.select-a-meal-message {
			    font-size: 0.8rem;
			    color: red;
			    width: 14rem;
			    height: 2.5rem;
		    }

		}

		.meals {
			min-height: 20rem;
		    border-left: 0.2rem solid #1e2b2f;
		    color: #ffffff;

		    .meals-select-buttons-container {
		    	height: auto;
		    	margin-bottom: 2rem;
		    	padding: 0.5rem 0;
		    }
			
			.meals-select-container {
				min-height:;
				select {
					width: 20rem;
					max-width: 20rem;
					padding: 0.5rem;
					margin: 0;
					font-size: 0.9rem;
					border: none;
					color: #333;
					box-shadow: 0 2px 2px rgba(0, 0, 0, 0.56);
				}
			}

		    .buttons {
		    	width: 17rem;

		    	button {
		    		background-color: rgb(77, 58, 255);
		    		transition: box-shadow 0.05s linear;
		    	}

		    	button.new-meal, button.save-meals {
		    		width: auto;
		    		height: 40px;
		    		padding: 0.5rem 0.75rem;
				    margin: 0px 1%;
	    		    color: white;
				    box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 2px;
				    cursor: pointer;
				    border-width: initial;
				    border-style: none;
				    border-color: initial;
				    border-image: initial;

				   	&:hover {
		    			color: rgba(255,255,255,0.95);
		    			background-color: rgb(24, 236, 159);
		    		}
		    	}
		    }

			.no-meals-text {
				display: block;
				width: 100%;
				padding: 2rem 0;
				text-align: center;
				color: #000;
			}

			.meals-container {
				max-height: 50rem;
				overflow-y: auto;
			}
		}
	}
  
} 


@media only screen and (min-width: 30rem) {
	.make-a-meal {

		.view--header {
			padding: 0 5%;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15vh;
			h1 {
				font-size: 1rem;
			}

			button {

			}
		}
		
		.view--main {
			.food-drinks {

				.food-drink {

					.food-drink--form {

						> div.flex {  }

						select {
						}
					}
				}

				.meal {
					width: 30%;
				}
			}
		}
	}
}

@media only screen and (min-width: 35rem) {
	.make-a-meal {
		.view--header {
			.view--title {
				text-align: left;
				margin: 0 2rem !important;
			}
		}
	}
}