:root {
  --primary: #586056;
  --pLight: #858d83;
  --pDark: #43433d;
  --secondary: #8c9caa;
  --sLight: #bccddc;
  --sDark: #5e6e7b;
  --signup: #cc3d1f;
  --signin: teal;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: "Montserrat", Verdana, Tahoma, sans-serif;
  background-color: #f7f8fb;
  min-width: 317px /* TODO find smallest phone viewport */;
}

html {}

body {
  margin: 0;
  padding: 0;
}


a, a:hover, a:visited, a:focus {
  color: #fff;
  text-decoration: none;
}

* {
  transition: all 0.1s linear;
  box-sizing: border-box;
}

button {
  pointer: cursor;
}

ul {
  list-style: none;
}

#root {
  display: block;
  width: 100%;
  height: 100%;
}


.flex {
  display: flex !important; }

.row {
  flex-direction: row !important; }

.column {
  flex-direction: column !important; }

.center-all {
  justify-content: center;
  align-items: center !important; } 

.align-center {
  align-items: center !important; }

.align-start {
  align-items: flex-start !important; }

.align-end {
  align-items: flex-end !important; }
.align-stretch {
  align-items: stretch !important;
}
.justify-start {
  justify-content: flex-start !important; }

.justify-end {
  justify-content: flex-end !important; }

.justify-center {
  justify-content: center !important; }

.space-around {
  justify-content: space-around !important;
}

.space-between {
  justify-content: space-between !important; }

.wrap  {
  flex-wrap: wrap !important;
}

.color-white {
  color: white !important;
} 

.color-black {
  color: #000 !important;
}   

.background-white {
  background-color: white !important;
} 
.background-black {
  background-color: black !important;
} 

.font-weight-100 { font-weight: 100 !important; }
.font-weight-300 { font-weight: 300 !important; }
.font-weight-500 { font-weight: 500 !important; }
.font-weight-bold { font-weight: bold !important; }

.lnr {
  display: inline-block;
  fill: #000;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

